@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, boddy {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body {
    background: url('../imagens/tech.jpg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;

}

main {
    height: 100vh;
    position: relative;
    
}

section#telefone {
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    position: absolute;
    height: 626px;
    width: 311px;    
    background:url('../imagens/frame-iphone.png') no-repeat;
    
}

iframe#tela {
    position: relative;
    top:80px;
    left:22px;
    width:260px;
    height: 471px;
}

section#redesocial img {

    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.433);
    box-sizing: border-box;
    
}

section#redesocial {

    text-align: right;
}

section#redesocial img:hover {
    border: 2px solid white;
    transform: translate(-3px,);
}